using System;
using System.Net.Http;
using RestSharp;

namespace {{packageName}}.Extensions
{   
    /// <summary>
    /// Interface for an implementation to return a HttpMessageHandler
    /// </summary>
    public interface IHttpClientFactory
    {
        /// <summary>
        /// Factory function that builds a HttpClient with
        /// RestOptions set on the underlying HttpMessagehandler
        /// </summary>
        /// <param name="options">options passed by the ApiClient</param>
        public HttpClient New(RestClientOptions options);
    }
}
